pip install --upgrade json
pip install --upgrade lxml
pip install --upgrade datetime
pip install --upgrade time
pip install --upgrade requests
pip install --upgrade bs4
pip install --upgrade os
pip install --upgrade pandas
